canvas {
	background-color: #FFFFFF;
	border: 2px solid;
	border-color: #001248;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #FFFFFF; 
}

.wf-nicomoji { font-family: "Nico Moji"; }

.btn {
	width:100%;
}

.share-btn {
	color: #fff;
	background-color: #00acee;
	border-color: #00acee; 
}

.save-btn {
	color: #fff;
	background-color: #001248;
	border-color: #001248; 
}

.cam-toggle-btn {
	color: #fff;
	background-color: #333333;
	border-color: #333333; 
}

.main-contents{
  width: 100%;
  /* max-width: 300px; */
  margin: auto;
}

@media (min-width: 768px) { 

	.main-padding-x {
		padding-left:3rem;
		padding-right:3rem;
	}
}

